@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul {
  text-align: center;
  line-height: 1.6;
}


ul li:nth-child(odd) {
  background-color: lightblue;
  color: teal;
}

ul ::marker {
  color: springgreen;
  font-size: 2rem;
  font-family: fantasy;
  content: "👉🏼";
}